.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary);
  padding: 1rem;
  border-radius: 2rem;

  & input {
    border: 2px solid var(--clr-secondary);
    border-radius: 100vmax;
    margin-bottom: 0.5rem;
    padding: 0rem 0.5rem;

    &:focus {
      outline: none;
      border: 2px solid transparent;
      background-image: linear-gradient(var(--clr-primary), var(--clr-primary)), var(--grd-primary);
      background-origin: border-box;
      background-clip: padding-box, border-box;
    }
  }

  & textarea {
    border: 2px solid var(--clr-secondary);
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    padding: 0rem 0.5rem;
    resize: none;

    &:focus {
      outline: none;
      border: 2px solid transparent;
      background-image: linear-gradient(var(--clr-primary), var(--clr-primary)), var(--grd-primary);
      background-origin: border-box;
      background-clip: padding-box, border-box;
    }
  }
}

.form-pages {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  width: 100%;

  & > button {
    cursor: pointer;
    aspect-ratio: 1;
    line-height: 0;
    padding: 0.6rem;
    border: none;
    border-radius: 100vmax;
    background-color: var(--clr-secondary);
  }
}

.form-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;

  & > button {
    cursor: pointer;
    padding: 0.2rem 0.8rem;
    border: none;
    border-radius: 100vmax;
    background-color: var(--clr-secondary);
  }
}
