.form-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-one);
  padding: 1rem;
  border-radius: 2rem;
  width: 20rem;
  min-height: 30rem;

  & label {
    font-weight: bold;
  }

  & input {
    border: 3px solid var(--clr-two);
    border-radius: 100vmax;
    margin-bottom: 0.5rem;
    padding: 0.2rem 0.8rem;
    width: 100%;
    text-align: center;

    &:focus {
      outline: none;
      border: 0.1875rem solid transparent;
      background-image: linear-gradient(var(--clr-one), var(--clr-one)), var(--grd-primary);
      background-origin: border-box;
      background-clip: padding-box, border-box;
    }
  }

  & textarea {
    border: 0.1875rem solid var(--clr-two);
    border-radius: 1.1rem;
    margin-bottom: 0.5rem;
    padding: 0.2rem 0.8rem;
    width: 100%;
    resize: none;
    text-align: center;

    &:focus {
      outline: none;
      border: 0.1875rem solid transparent;
      background-image: linear-gradient(var(--clr-one), var(--clr-one)), var(--grd-primary);
      background-origin: border-box;
      background-clip: padding-box, border-box;
    }
  }

  & > :nth-last-child(2) {
    margin-bottom: auto;
  }
}

.form-title {
  margin-bottom: 0.5rem;
}

.form-pages {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  width: 100%;
  margin-bottom: 0.5rem;

  & button {
    cursor: pointer;
    aspect-ratio: 1;
    line-height: 0;
    padding: 0.6rem;
    border: 0.1875rem solid var(--clr-two);
    border-radius: 100vmax;
    background-color: var(--clr-one);

    &.active {
      border: 0.1875rem solid transparent;
      background-image: linear-gradient(var(--clr-one), var(--clr-one)), var(--grd-primary);
      background-origin: border-box;
      background-clip: padding-box, border-box;
    }
  }
}

.form-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;

  & button {
    cursor: pointer;
    padding: 0.2rem 0.8rem;
    border: 0.1875rem solid var(--clr-two);
    border-radius: 100vmax;
    background-color: var(--clr-two);

    &:hover,
    &:focus {
      outline: none;
      border: 0.1875rem solid transparent;
      background-image: linear-gradient(var(--clr-two), var(--clr-two)), var(--grd-primary);
      background-origin: border-box;
      background-clip: padding-box, border-box;
    }
  }
}

.form-date-container {
  display: flex;
  justify-content: space-around;
  width: 100%;

  & > div {
    display: flex;
    align-items: center;
    flex-direction: column;

    & input {
      width: 6rem;
    }
  }
}

.transform-wrapper {
  max-height: 100%;
}

.image-input {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.image-btns {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.image-label,
.image-confirm {
  cursor: pointer;
  padding: 0.2rem 0.8rem;
  border: 0.1875rem solid var(--clr-two);
  border-radius: 100vmax;
  background-color: var(--clr-two);
  font-weight: bold;
}

.image-editor {
  border: 0.1875rem solid var(--clr-two);
  border-radius: 1rem;
  margin-bottom: 1em;
}
