.preview-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: max-content;
  aspect-ratio: 1 / 1.414;
  width: 700px;
  overflow: hidden;
  font-size: var(--fs-300);
  border-radius: 1rem;
}

.preview-sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-row: span 2;
  background-color: var(--bg-clr-two);
  padding: 1.5rem;

  h2 {
    font-size: var(--fs-500);
  }
}

.preview-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--bg-clr-one);
  padding: 1.5rem;

  p:nth-of-type(1) {
    font-size: var(--fs-700);
    font-weight: bold;
    line-height: 1;
    color: var(--clr-three);
  }

  p:nth-of-type(2) {
    font-size: var(--fs-700);
    font-weight: bold;
    line-height: 1;
  }

  p:nth-of-type(3) {
    position: relative;
    font-size: var(--fs-400);
    margin-left: 1rem;

    &::before {
      content: '';
      position: absolute;
      top: calc(50% - 0.3rem);
      left: -1rem;
      width: 0.6rem;
      aspect-ratio: 1;
      border-radius: 0.15rem;
      background-color: var(--clr-three);
    }
  }
}

.preview-main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--bg-clr-three);
  padding: 1.5rem;
  padding-left: 2.5rem;

  h2 {
    position: relative;
    color: var(--clr-three);
    font-size: var(--fs-600);

    &::before {
      content: '';
      position: absolute;
      top: calc(50% - 0.3rem);
      left: -1rem;
      width: 0.6rem;
      aspect-ratio: 1;
      border-radius: 0.15rem;
      background-color: var(--clr-three);
    }
  }
}

.preview-education,
.preview-experience,
.preview-references {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.preview-education {
  p:nth-of-type(2) {
    font-weight: bold;
    font-size: var(--fs-400);
    line-height: 1;
  }
}

.preview-experience {
  p:nth-of-type(1) {
    font-weight: bold;
    font-size: var(--fs-400);
  }

  p:nth-of-type(2) {
    font-size: var(--fs-400);
    line-height: 1;
  }
}

.preview-contact {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 0.5rem;

  & div {
    aspect-ratio: 1;
    background-color: var(--clr-three);
    border: 4px solid var(--clr-three);
    border-radius: 100vmax;

    &:nth-of-type(2n) {
      background-color: var(--fc-primary);
      border: 4px solid var(--fc-primary);
    }
  }

  & svg {
    position: relative;
    color: white;
    width: 1rem;
    height: 1rem;
  }
}

.preview-skills h2 {
  margin-bottom: 0.5rem;
}

.preview-references div {
  p:nth-of-type(1) {
    font-weight: bold;
  }
}

.image-placeholder {
  width: 100%;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 100vmax;
  border: 10px solid #c8c6c9;
  outline: 12px double white;
  outline-offset: -12px;
}
