.red-theme {
  --clr-three: hsl(0, 45%, 50%);

  --bg-clr-one: hsl(0 5% 78% / 1);
  --bg-clr-two: hsl(0 20% 87% / 1);
  --bg-clr-three: hsl(0 0% 90% / 1);
}

.green-theme {
  --clr-three: hsl(108, 35%, 45%);

  --bg-clr-one: hsl(108 5% 78% / 1);
  --bg-clr-two: hsl(108 20% 87% / 1);
  --bg-clr-three: hsl(0 0% 90% / 1);
}

.blue-theme {
  --clr-three: hsl(202, 60%, 46%);

  --bg-clr-one: hsl(202 5% 78% / 1);
  --bg-clr-two: hsl(202 20% 87% / 1);
  --bg-clr-three: hsl(0 0% 90% / 1);
}

.black-theme {
  --clr-three: hsl(0, 0%, 0%);

  --bg-clr-one: hsl(0 0% 78% / 1);
  --bg-clr-two: hsl(0 0% 87% / 1);
  --bg-clr-three: hsl(0 0% 90% / 1);
}
