:root {
  --fc-primary: hsl(0 0% 0% / 1);

  --fs-300: 0.8rem;
  --fs-400: 1rem;
  --fs-500: 1.1rem;
  --fs-600: 1.3rem;
  --fs-700: 2.2rem;

  --clr-one: hsl(0 0% 100% / 1);
  --clr-two: hsl(0 0% 83% / 1);
  --clr-three: hsl(283 34% 41% / 1);

  --bg-clr-one: hsl(280 5% 87% / 1);
  --bg-clr-two: hsl(280 3% 78% / 1);
  --bg-clr-three: hsl(0 0% 91% / 1);

  --grd-primary: linear-gradient(to right top, #c297ec, #b2a5f7, #a3b1fd, #97bcff, #90c6ff);
}
